<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <style></style>
    <script src="https://unpkg.com/vue@2.6.12"></script>
</head>
<body>
    <div id="app"> <!--HTML DOM template-->        
        <!-- <input type="checkbox" name="interest" value="sleep">睡覺
        <input type="checkbox" name="interest" value="game">電動
        <input type="checkbox" name="interest" value="read">閱讀
        <input type="checkbox" name="interest" value="trip">旅遊 -->

        <input type="checkbox" v-model="interest" value="sleep">睡覺
        <input type="checkbox" v-model="interest" value="game">電動
        <input type="checkbox" v-model="interest" value="read">閱讀
        <input type="checkbox" v-model="interest" value="trip">旅遊
        
        <p>{{interest}}</p>
        
        <input type="checkbox" v-model="agree">I agree.
        
    </div>

    <script>      

        new Vue({
            el: '#app', //el:document.getElementById('app');
            data:{ //變數放這裡!
                interest: [],
                agree: false,
            },
            methods: {//函數大部分放這裡
               
            },
            computed: {//函數也可以放這裡,但放這裡的函數，不可以傳參數，一定要有傳回值。
               
            },
        });
    </script>
</body>
</html>